<main id="announcements-main">
  <section id="announcements-main-filters">
    <div>
      <input type="text" placeholder="Busca un anuncio..." id="tag-filter">
      <button id="tag-filter-btn"><i class="fas fa-search"></i></button>
    </div>
    <div>
      <a href="/addAnnouncement" id="add-button"><i class="fas fa-plus-circle"></i></a>
    </div>
  </section>

  <section id="announcements-list">
    {{#each list}}
    <div class="announce-card">
      <img src="{{this.photoCard}}" alt="Imagen del anuncio">
      <a href="/announcement/{{this._id}}">
        <div class="announce-title">
          <h4>{{this.title}}</h4>
        </div>
        <p class="state hidden">{{this.location.state}}</p>
        <p class="city hidden">{{this.location.city}}</p>
        <p class="tags hidden">{{this.tags}}</p>
      </a>
    </div>
    {{/each}}
  </section>
</main>