<main>
  <section id="announce-section">
    <a href="/announcements"><i class="fas fa-arrow-left"></i></a>
    <article id="announce-article">
      <img src="{{announcement.photos}}" alt="">
      <div>
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.description}}</p>
      </div>
    </article>
    <article class="offer-field">
      <h3>Oferta aceptada</h3>
      {{#each announcement.offers}}
      {{#if accepted}}
      <div class="offer">
        <a href="#">
          <h6>{{professional.name}}</h6>
        </a>
        <p>{{estimatedPrice}}&euro;</p>
        <p>{{comments}}</p>
      </div>
      {{/if}}
      {{/each}}
    </article>

  </section>
</main>