<main>
  <section id="announce-section">
    <a href="/announcements"><i class="fas fa-arrow-left"></i></a>
    <article id="announce-article">
      <div id="slideshow-container">
        {{#each announcement.photos }}
        <div class="mySlides fade hidden" id="img-{{@index}}">
          <img src="{{this}}">
        </div>
        {{/each}}
        <div id="slide-controls">
          <a class="prev" onclick="prevImage()">&#10094;</a>
          <a class="next" onclick="nextImage()">&#10095;</a>
        </div>
      </div>
      <div>
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.description}}</p>
      </div>
    </article>
    <article id="guest-view" class="offer-field">
      <h3>Hacer oferta</h3>
      <form action="/makeOffer/{{announcement._id}}" method="POST">
        <input type="hidden" name="professional" value="{{currentUser._id}}">
        <input type="number" name="estimatedPrice" placeholder="Precio estimado en euros" step="any" min="0">
        <textarea name="comments" id="offer-description" cols="32" rows="10"
          placeholder="Escribe la descripcion de tu oferta"></textarea>
        <button type="submit" class="btn blue-btn">Enviar oferta</button>
      </form>
    </article>
  </section>
</main>