<main>
  <section id="announce-section">
    <a href="/announcements"><i class="fas fa-arrow-left"></i></a>
    <article id="announce-article">
      <img src="{{announcement.photos}}" alt="">
      <div>
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.description}}</p>
      </div>
    </article>
    {{#if announcer}}
    <article class="offer-field">
      <h3>Ofertas</h3>
      <ul>
        <li class="offer">
          <div>
            <a href="#">
              <h6>Profesional random</h6>
            </a>
            <p>Hola! Puedo ir esta tarde antes de las 20h. Mi tarifa es de 15&euro;/hora.</p>
          </div>
          <div>
            <button class="btn green-btn">Aceptar</button>
            <button class="btn red-btn">Rechazar</button>
          </div>
        </li>
        <li class="offer">
          <div>
            <a href="#">
              <h6>Profesional random 2</h6>
            </a>
            <p>Buenas. Puedo ir ahora mismo. En mi empresa disponemos de servicio urgente. El precio de tarifa es
              25&euro;/hora.</p>
          </div>
          <div>
            <button class="btn green-btn">Aceptar</button>
            <button class="btn red-btn">Rechazar</button>
          </div>
        </li>
      </ul>
    </article>
    {{else}}
    <article id="guest-view" class="offer-field">
      <h3>Hacer oferta</h3>
      <form action="">
        <input type="text" value="{{currentUser._id}}">
        <textarea name="" id="offer-description" cols="32" rows="10"
          placeholder="Escribe la descripcion de tu oferta"></textarea>
        <button type="submit" class="btn blue-btn">Enviar oferta</button>
      </form>
    </article>
    {{/if}}

  </section>
</main>