<main>
  <section id="announce-section">
    <div id="icon-container">
      <a href="{{backURL}}"><i class="fas fa-arrow-left"></i></a>
      <i class="fas fa-trash-alt" id="delete-button"></i>
      <div class="modal" id="myModal">
        <div class="modal-content">
          <p>Seguro que quieres eliminar el anuncio?</p>
          <a href="/delete/{{announcement._id}}" class="btn red-btn">Borrar</a>
          <span class="close">&times;</span>
        </div>
      </div>
    </div>
    <div id="announce-info">
      <div id="slideshow-container">
        {{#each announcement.photos }}
        <div class="mySlides fade hidden" id="img-{{@index}}">
          <img src="{{this}}">
        </div>
        {{/each}}
        <div id="slide-controls">
          <a class="prev" onclick="prevImage()">&#10094;</a>
          <a class="next" onclick="nextImage()">&#10095;</a>
        </div>
      </div>
      <article>
        <div id="announce-data">
          <h2 id="announce-title">{{announcement.title}}</h2>
          <p id="description">{{announcement.description}}</p>
        </div>
        <form action="/edit/{{announcement._id}}" id="edit-announce-data" method="POST" class="hidden">
          <input type="text" name="title" value="{{announcement.title}}">
          <textarea name="description" id="" cols="30" rows="10">{{announcement.description}}</textarea>
        </form>
        <br>
        <button id="edit-announcement" class="btn green-btn" onclick="editFunction()">Edit</button>
        <button id="save-button" class="btn blue-btn hidden" form="edit-announce-data">Guardar</button>
      </article>
    </div>
    <article class="offer-field">
      <h3>Ofertas</h3>
      <ul>
        {{#if announcement.offers}}
        {{#each announcement.offers }}
        <li class="offer">
          <div>
            <a href="#">
              <h6>{{professional.name}}</h6>
            </a>
            <p>{{estimatedPrice}}&euro;</p>
            <p>{{comments}}</p>
          </div>
          <div>
            <a href="/acceptOffer/{{../announcement._id}}/{{_id}}/{{professional._id}}"><button
                class="btn green-btn">Aceptar</button></a>
            <a href="/declineOffer/{{../announcement._id}}/{{_id}}"><button class="btn red-btn">Rechazar</button></a>
          </div>
        </li>
        {{/each}}
        {{else}}
        <li>Aún no tienes ofertas</li>
        {{/if}}
      </ul>
    </article>

  </section>
</main>

<script src="/javascripts/deleteConfirmation.js"></script>
<script src="/javascripts/editAnnounce.js"></script>
<script src="/javascripts/slideShow.js"></script>