<main>
  <section id="announce-section">
    <a href="{{backURL}}"><i class="fas fa-arrow-left"></i></a>
    <div id="announce-info">
      <div id="slideshow-container">
        {{#each announcement.photos }}
        <div class="mySlides fade hidden" id="img-{{@index}}">
          <img src="{{this}}">
        </div>
        {{/each}}
        <div id="slide-controls">
          <a class="prev" onclick="prevImage()">&#10094;</a>
          <a class="next" onclick="nextImage()">&#10095;</a>
        </div>
      </div>
      <article>
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.description}}</p>
      </article>
    </div>
    {{#if offersByTheUser}}
    <div id="offer-map">
      <article class="offer-field">
        <h2>Ofertas previas</h2>
        <ul>
          {{#each offersByTheUser}}
          <li class="offer">
            <div>
              <p>{{estimatedPrice}}&euro;</p>
              <p>{{comments}}</p>
            </div>
            <div>
              <a href="/deleteOffer/{{announcement._id}}/{{_id}}"><button class="btn red-btn">Eliminar</button></a>
              <a href="#"><button class="btn blue-btn">Editar</button></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </article>
      {{#if announcement.location.lat}}
      <p class="hidden" id="lat">{{announcement.location.lat}}</p>
      <p class="hidden" id="lng">{{announcement.location.lng}}</p>
      <article id="map">
      </article>
      {{else}}
      <article id="not-map">
        <h2>Mapa no disponible</h2>
        <div>
          <img src="/images/pngwing.com.png" alt="map not found">
        </div>
      </article>
      {{/if}}
    </div>
    {{else}}
    <div id="offer-map">
      <article id="guest-view" class="offer-field">
        <h2>Hacer oferta</h2>
        <form action="/makeOffer/{{announcement._id}}" method="POST">
          <input type="hidden" name="professional" value="{{currentUser._id}}">
          <input type="number" name="estimatedPrice" placeholder="Precio estimado en euros" step="any" min="0">
          <textarea name="comments" id="offer-description" cols="30" rows="10"
            placeholder="Escribe la descripcion de tu oferta"></textarea>
          <button type="submit" class="btn blue-btn">Enviar oferta</button>
        </form>
      </article>
      {{#if announcement.location.lat}}
      <p class="hidden" id="lat">{{announcement.location.lat}}</p>
      <p class="hidden" id="lng">{{announcement.location.lng}}</p>
      <article id="map">
      </article>
      {{else}}
      <article id="not-map">
        <h2>Mapa no disponible</h2>
        <div>
          <img src="/images/pngwing.com.png" alt="map not found">
        </div>
      </article>
      {{/if}}
    </div>
    {{/if}}
  </section>
</main>





<script type="text/javascript" src="/javascripts/loadMap.js"></script>
<script src="/javascripts/slideShow.js"></script>