<main>
  <section id="announce-section">
    <div id="icon-container">
      <a href="/announcements"><i class="fas fa-arrow-left"></i></a>
      <a href="/delete/{{announcement._id}}"><i class="fas fa-trash-alt"></i></a>
    </div>
    <article id="announce-article">
      <div id="slideshow-container">
        {{#each announcement.photos }}
        <div class="mySlides fade hidden" id="img-{{@index}}">
          <img src="{{this}}">
        </div>
        {{/each}}
        <div id="slide-controls">
          <a class="prev" onclick="prevImage()">&#10094;</a>
          <a class="next" onclick="nextImage()">&#10095;</a>
        </div>
      </div>
      <div>
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.description}}</p>
      </div>
    </article>
    <article class="offer-field" id="accepted-offer-article">
      <h2>Oferta aceptada</h2>
      {{#each announcement.offers}}
      {{#if accepted}}
      <div class="offer">
        <a href="/userProfile/{{professional._id}}">
          <h3>{{professional.name}}</h3>
        </a>
        <p>{{estimatedPrice}}&euro;</p>
        <p>{{comments}}</p>
        <br>
        <h6>Contacto</h6>
        <p>{{professional.email}}</p>
        <br>
        {{#if ../announcement.finished}}
        <a href="/addreview/{{professional._id}}">
          <button class="btn blue-btn">
            Añadir reseña
          </button>
        </a>
        {{else}}
        <a href="/finish/{{../announcement._id}}">
          <button class="btn green-btn">
            Trabajo finalizado
          </button>
        </a>
        {{/if}}
      </div>
      {{/if}}
      {{/each}}
    </article>

  </section>
</main>