<main>
  <section id="announce-section">
    <div id="icon-container">
      <a href="/announcements"><i class="fas fa-arrow-left"></i></a>
      {{#if isUserTheAnnouncer}}
      <a href="/delete/{{announcement._id}}"><i class="fas fa-trash-alt"></i></a>
      {{/if}}
    </div>
    <article id="announce-article">
      <div id="slideshow-container">
        {{#if announcement.photos}}
        {{#each announcement.photos }}
        <div class="mySlides fade hidden" id="img-{{@index}}">
          <img src="{{this}}">
        </div>
        {{/each}}
        <div id="slide-controls">
          <a class="prev" onclick="prevImage()">&#10094;</a>
          <a class="next" onclick="nextImage()">&#10095;</a>
        </div>
        {{else}}
        <div> <img src="{{this.photoCard}}" alt=""></div>
        {{/if}}

      </div>
      <div>
        <h2>{{announcement.title}}</h2>
        <p>{{announcement.description}}</p>
      </div>
    </article>
    <article class="offer-field" id="accepted-offer-article">
      <h2>Oferta aceptada</h2>
      {{#each announcement.offers}}
      {{#if accepted}}
      <div class="offer">
        <a href="/userProfile/{{professional._id}}">
          <h3>{{professional.name}}</h3>
        </a>
        <p>{{estimatedPrice}}&euro;</p>
        <p>{{comments}}</p>
        <br>
        {{#if ../isUserTheAnnouncer}}
          <h6>Contacto</h6>
          <p>{{professional.email}}</p>
          <br>
          {{#if ../announcement.finished}}
          <a href="/addreview/{{professional._id}}">
            <button class="btn blue-btn">
              Añadir reseña
            </button>
          </a>
          {{else}}
          <a href="/finish/{{../announcement._id}}/{{../announcement.chat._id}}">
            <button class="btn green-btn">
              Trabajo finalizado
            </button>
          </a>
          {{/if}}
        {{/if}}
      </div>
      {{/if}}
      {{/each}}
    </article>
    {{#if announcement.chat}}
    <article class="offer-field" id="chat-box">
      <h2>Chat</h2>
      <div id="messages">
        {{#each chat.messages}}
        <p>{{this}}</p>
        {{/each}}
      </div>
      <div id="input-message-chat">
        <input type="hidden" id="username" value="{{currentUser.name}}">
        <input type="hidden" id="chatId" value="{{announcement.chat._id}}">
        <input type="text" id="newMessage">
        <button type="button" id="sendBtn" class="btn blue-btn">Send</button>
      </div>
    </article>
    {{/if}}
  </section>
</main>

{{#if announcement.chat}}
<script src="/javascripts/sockets.js"></script>
{{/if}}
<script src="/javascripts/slideShow.js"></script>
