<main id="my-account-main">
  <section id="my-account-section">
    <article id="my-data">
      <img src="{{user.photo}}" alt="Imagen de usuario" id="user-img">
      <div>
        <p><strong>Nombre:</strong> {{user.name}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Ciudad:</strong> {{user.city}}</p>
      </div>
    </article>
  </section>
  <section id="my-announces">
    <article>
      <h2>Anuncios</h2>
      {{#if user.announcements}}
      <div id="my-list">
        {{#each user.announcements}}
        <div class="announce-card">
          <img src="{{this.photos}}" alt="Imagen de anuncio">
          <div class="announce-title">
            <a href="/announcement/{{this._id}}">
              <h4>{{this.title}}</h4>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p>Este usuario no tiene anuncios</p>
      {{/if}}
    </article>
  </section>
  <section id="user-reviews">
    <article>
      <h3>Reviews</h3>
      {{#if user.reviews}}
      {{#each user.reviews}}
      <div>
        <h4>{{this.title}}</h4>
        <p>{{this.description}}</p>
      </div>
      {{/each}}
      {{else}}
      <p>Este usuario no tiene valoraciones</p>
      {{/if}}
    </article>
  </section>
</main>