<main id="my-account-main">
  <section id="my-account-section">
    <article id="user-data">
      <h2>Mi cuenta</h2>
      <div>
        <div>
          <img src="{{currentUser.photo}}" alt="Imagen de usuario" id="user-img">
        </div>
        <form action="/editUser" id="edit-info-form" method="POST">
          <label for="name">Nombre</label>
          <input type="text" name="name" value="{{currentUser.name}}">
          <label for="email">Email</label>
          <input type="email" name="email" value="{{currentUser.email}}">
          <br>
          <h4>Más sobre tí</h4>
          <label for="city">Ciudad</label>
          <input type="text" name="city" placeholder="Ciudad" value="{{currentUser.city}}">
          <label for="address">Dirección</label>
          <input type="text" name="address" placeholder="Direccion" value="{{currentUser.address}}">
          <label for="description">Descripción</label>
          <textarea name="description" id="" cols="30" rows="7"
            placeholder="Escribe algo sobre ti">{{currentUser.description}}</textarea>
          <button type="submit" class="btn blue-btn">Editar</button>
        </form>
      </div>

    </article>
  </section>
  <section id="my-announces">
    <article>
      <h2>Mis anuncios</h2>
      {{#if currentUser.announcements}}
      <h3>Anuncios pendiente de aceptar</h3>
      <div class="my-list">
        {{#each currentUser.announcements }}
        {{#unless this.assigned}}
        <div class="announce-card">
          <img src="{{photoCard}}" alt="">
          <div class="announce-title">
            <a href="/announcement/{{_id}}">
              <h4>{{title}}</h4>
            </a>
          </div>
        </div>
        {{/unless}}
        {{/each}}
      </div>
      <h3>Anuncios en proceso</h3>
      <div class="my-list">
        {{#each currentUser.announcements }}
        {{#if this.assigned}}
        {{#unless this.finished}}
        <div class="announce-card">
          <img src="{{photoCard}}" alt="">
          <div class="announce-title">
            <a href="/announcement/{{_id}}">
              <h4>{{title}}</h4>
            </a>
          </div>
        </div>
        {{/unless}}
        {{/if}}
        {{/each}}
      </div>
      <h3>Anuncios finalizados</h3>
      <div class="my-list">
        {{#each currentUser.announcements }}
        {{#if this.finished}}
        <div class="announce-card">
          <img src="{{photoCard}}" alt="">
          <div class="announce-title">
            <a href="/announcement/{{_id}}">
              <h4>{{title}}</h4>
            </a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      {{/if}}
      <a href="/addAnnouncement">
        <button class="btn blue-btn">
          Añadir anuncio
        </button>
      </a>
    </article>
  </section>
  {{#if currentUser.workInProgress}}
  <section>
    <article>
      <h2>Mis trabajos actuales</h2>
      <div class="my-works">
        {{#each currentUser.workInProgress }}
        <div class="announce-card">
          <img src="{{photoCard}}" alt="">
          <div class="announce-title">
            <a href="/announcement/{{_id}}">
              <h4>{{title}}</h4>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </article>
    {{#if offers}}
    <br>
    <article class="offer-field">
      <h2>Ofertas sin aprobar</h2>
      <ul>
        {{#each offers}}
        <li class="offer"><a href="/announcement/{{announcement._id}}"><b>{{announcement.title}}</b>:
            {{estimatedPrice}}€</a></li>
        {{/each}}
      </ul>
    </article>
    {{/if}}
  </section>
  {{/if}}
</main>